@media (min-width: 581px) and (max-width: 2000px) {
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "outfit", sans-serif;
    }
    html,
    body {
      background-color: hsl(30, 54%, 90%);
      font-size: 16px;
      color: #5f574e;
    }
    #container {
      margin: 3rem auto;
      max-width: 600px;
      border-radius: 16px;
      background-color: white;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    img {
      width: 590px;
      padding: 0 15px;
      border-radius: 20px;
    }
    h1 {
      font-size: 30px;
      font-family: "Young Serif", sans-serif;
      font-weight: 400;
      color: black;
    }
    h2 {
      font-size: 24px;
      font-family: "Young Serif";
      color: hsl(14, 45%, 36%);
      font-weight: 700;
    }
    #content > p {
      margin: 10px 0;
    }
    #part1 {
      width: 100%;
      background-color: hsl(330, 100%, 98%);
      border-radius: 10px;
      padding: 15px 20px;
      margin: 25px 0;
    }
    #part1 > h3 {
      margin-bottom: 10px;
      font-size: 19px;
      color: hsl(332, 51%, 32%);
    }
    #part1 ul {
      padding-left: 30px;
      line-height: 2.1;
    }
  
    #part2 ul {
      padding: 10px 30px;
      line-height: 2;
    }
    #part3 {
      width: 100%;
      border-top: 1px solid hsl(30, 18%, 87%);
      border-bottom: 1px solid hsl(30, 18%, 87%);
    }
    #part3 h2 {
      padding: 15px 0;
    }
    #part3 ol {
      padding: 0 30px;
      margin-bottom: 10px;
    }
    #part3 li {
      padding: 10px 0;
    }
    #part4 {
      padding: 20px 0;
    }
    #part4 p {
      padding: 10px 0;
    }
    span {
      margin-left: 2em;
      width: 50%;
    }
    #items-list {
      margin: 10px 0;
    }
    .item {
      border-bottom: 1.5px solid hsl(30, 18%, 87%);
      padding: 10px 0;
      display: flex;
      align-items: center;
    }
    span:last-child {
      color: hsl(332, 51%, 32%);
      font-weight: 600;
    }
    .attribution {
      margin: -20px 0 40px 0;
      font-size: 16px;
      text-align: center;
    }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  }
